.btn-supr {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.CartItems{
    margin-top: 9rem;
}

.CartItems h5{
    font-size: 1.5rem;
}

.CartItems p {
    color: black;
    font-size: 1.1rem;
}


.cartNumber {
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  font-weight: 700;
  background-color: #f72222;
  width: 1.2rem;
  height: 1.2rem;
  right: -0.1rem;
  top: 1.01rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}